@model OnlineStore.Domain.ViewModels.Accaount.RegisterViewModel
@{
	ViewData["Title"] = "Register";
}

<div class="container">
	<div class="row shadow rounded">
		<div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
			<div>
				<img src="~/image/weapon.png" class="w-100" />
			</div>
		</div>
		<div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
			<form autocomplete="off" method="post" class="p-2 m-2" asp-controller="Account" asp-action="Register">
				<div class="mb-3">
					<h2 class="text-black">Регистрация</h2>
					<span class="text-feild">@Html.ValidationMessageFor(model => model.Name)</span>
				</div>
				<div class="form-floating mb-3">
					<input asp-for="Name" class="form-control textbox-dg font-weight-bold text-center" placeholder="Имя" type="text">
					<label for="Name">Имя</label>
				</div>
				<div class="form-floating mb-3">
					<input autocomplete="new-password" asp-for="Password" placeholder="Пароль" class="form-control textbox-dg font-weight-bold text-center" type="password">

					<label for="Password">Пароль</label>
				</div>
				<div class="form-floating mb-3">
					<input autocomplete="new-password" asp-for="PasswordConfirm" placeholder="Подтвердите пароль" class="form-control textbox-dg font-weight-bold text-center" type="password">
					<label for="PasswordConfirm">Подтверждение пороля</label>
				</div>
				<div>
					<button class="btn btn-sm btn-dark w-100 p-2 shadow rounded" type="submit">Зарегистрироваться</button>
				</div>
			</form>
		</div>
	</div>
</div>


