@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-sm-9">
            <div id="carouselExampleSlidesOnly" class="carousel slide shadow rounded" data-bs-ride="carousel">
                <div class="carousel-inner h-100">
                    <div class="carousel-item h-100 active">
                        <img src="~/image/carousel/binoculars.png" class="d-block w-100" alt="Recipes">
                    </div>
                    <div class="carousel-item h-100">
                        <img src="~/image/carousel/locel.png" class="d-block w-100" alt="Recipes">
                    </div>
                    <div class="carousel-item h-100">
                        <img src="~/image/carousel/weapon.png" class="d-block w-100" alt="Recipes">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row justify-content-center mt-3">
        <div class="col-md-9">
            <!--<div class="col-md-9 col-lg-6 col-xl-6">-->
            <div class="shadow rounded p-3">
                <div class="mb-1 p-2">
                    <h2>
                        У нас есть <span class="text-success fst-italic">все</span>
                        для <span class="text-success fst-italic dt">охоты</span> и
                        <span class="text-success fst-italic">рыбалки</span>
                    </h2>
                </div>
                <div class="mb-1 p-2">
                    <span><i class="fa-solid fa-binoculars text-success mx-2 fs-4"></i></span>
                    <span class="fs-4 text-dark fst-italic">Охота</span>
                    <p class="py-2 wordSpacing">Маскировка Манки Посадочные-чучела</p>
                </div>
                <div class="mb-1 p-2">
                    <span><i class="fa-solid fa-fish-fins text-success mx-2 fs-4"></i></span>
                    <span class="fs-4 text-dark fst-italic">Рыбалка</span>
                    <p class="py-2 wordSpacing">Удилища Рыболовные-катушки Блесны Прикорм</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-9 mb-3">
            <h2 class="text-dark fst-italic">Хиты</h2>
            <div id="todaySpecial" class="row">
                <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4">
                    <div class="card dishCard">
                        <img class="card-img-top" src=""/>
                        <div class="card-body">
                            <p class="card-title">Охота</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4">
                    <div class="card dishCard">
                        <img class="card-img-top" src=""/>
                        <div class="card-body">
                            <p class="card-title">Охота</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4">
                    <div class="card dishCard">
                        <img class="card-img-top" src=""/>
                        <div class="card-body">
                            <p class="card-title">Охота</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

